{
	"endOfLine": "lf",
	"arrowParens": "avoid",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"trailingComma": "all",
	"semi": true,
	"useTabs": false,
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,

	"singleAttributePerLine": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"quoteProps": "as-needed",
	"proseWrap": "always"
}
